<md-card>
  <md-card-title>Alerts</md-card-title>
  <md-divider></md-divider>
  
  <md-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reprehenderit repellendus expedita saepe necessitatibus, placeat nostrum pariatur iure, rerum sapiente a nesciunt laborum animi veniam vitae non ullam sed provident.</p>
  </md-card-content>

  <md-divider md-inset></md-divider>
  <md-card-actions>
    <div layout="row" layout-align="end center">
      <button md-raised-button color="primary">Click</button>
    </div>
  </md-card-actions>
</md-card>
